.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header1 {
    margin-left:80px;
    font-size: 30px;
    font-family: "Courier New";
    color:black
}

.header2 {
    text-align:center;
    font-size: 45px;
    font-family: "Courier New";
    color:black;
    background-color:#babec4
}

.tbody {
    font-size:30px;
    font-family: "Courier New";
    color:black;
    margin-left:300px;
}
